.card{
  width: 100%;
  margin-top: 20px;
  color: black
}

body{
  background-color: #343a40!important;
}

.container-main{
  padding: 20vh 30vh 20vh 30vh;
  color: white;
}

#dark{
  background-color: rgba(35,43,43,0.98);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.btn{
  width: 115px
}

#result{
  text-align: center;
  color: white
}

table{
  width: 20vw
}
